.carousel-item {
  height: 92vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.main-text {
  position: absolute;
  text-align: center;
  top: 15vh;
  width: 100%;
  color: white;
}

/* Class for the picture of me at index.html */
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 250px;
}

.title-index {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
}

.discover {
  text-align: center;
  color: white;
}

.discover img {
  border-radius: 10px;
}

.discover-divider {
  margin: 3rem 0;
  background-color: white;
}

.btn-more {
  margin-bottom: 2rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn-more {
    margin-bottom: autp;
  }
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .discover-heading {
    margin-top: 7rem;
  }
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
